@import "../../_var";

.event-card {
  display: flex;
  flex-direction: column;
  gap: var(--m16);
  cursor: pointer;

  .hover({
    .event-card {
      &__title {
        color: #1F40B7;
      }

      &__picture {
        img {
          transform: scale(1.1);
        }
      }
    }
  });

  &__header {
    display: flex;
    flex-direction: column;
    gap: var(--m16);
  }

  &__info {
    display: flex;
    align-items: center;
    gap: var(--m16);
  }

  &__category {
  }

  &__tags {
    display: flex;
    align-items: center;
    gap: var(--m8);
    font: 300 var(--fs14) / 1 @font;
    color: #5B5B5B;
  }

  &__title {
    .transit(cover);
    font: 800 var(--fs18) / 1 @font;
    color: #3C3C3C;
  }

  &__main {
    display: grid;
    grid-template-columns: minmax(150rem, 0) 1fr;
    gap: var(--m22);
  }

  &__picture {
    .picture(@fit: cover);
    width: 100%;
    max-width: 150rem;
    max-height: 150rem;
    border-radius: 8rem;

    img {
      .transit(transform, @time: @transitTimeMedium);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--m12);
  }

  &__text {
    .line-clamp(7);
    flex: 1 1 auto;
    font: 300 var(--fs14) / 1.2 @font;
    color: #5B5B5B;
  }

  &__footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--grid-gap);
    font: 500 var(--fs12) / 1 @font;
    color: #1F40B7;
  }

  &__more-icon {
    .container(20rem);

    svg {
      --svg-size: 10rem;
    }
  }
}