@import "../../_var";

.info-events {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: var(--m4);
  padding: var(--grid-gap);
  height: 100vh;

  &__top {
    box-sizing: border-box;
    padding: var(--m16);
    border-radius: 16rem;
    background: @cWhite;
    border: 1rem solid #E1E3E9;
  }

  &__title {
    font: 400 var(--fs32) / 0.8 @accentFontName;
    color: #4665EC;
  }

  &__today {
    display: flex;
    flex-direction: column;
    gap: var(--m16);
    background: @cWhite;
    border: 1rem solid #E1E3E9;
    border-radius: 16rem;
    box-sizing: border-box;
    padding: var(--m24);
  }

  &__list-title,
  &__count {
    font: 400 var(--fs40) / 0.8 @captionFont;
    color: @cBlack;

    b {
      font-weight: inherit;
      color: #1F40B7;
    }
  }

  &__categories {
    display: flex;
    flex-direction: column;
    gap: var(--m4);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--m24);
    background: @cWhite;
    border: 1rem solid #E1E3E9;
    box-sizing: border-box;
    padding: var(--m24);
    border-radius: 16rem;
  }

  &__list-items {
    display: flex;
    flex-direction: column;
    gap: var(--m16);
  }

  &__item {
    &:not(:last-child) {
      padding-bottom: var(--m16);
      border-bottom: 1rem solid #E1E3E9;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--m8);
    overflow-y: auto;
  }

  &__item {
    flex-shrink: 0;
  }

  @media @mediaSm {
    padding: var(--grid-gap) var(--full-page-gutter);
  }
}